# Packaging stuff
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jl.*.mem

CL.yml
*.ipynb
/.vscode/
/Docs/
/Other/
# pixi environments


# # Joseph

# # .gitignore
/Data/
# # Manifest.toml
# Project.toml
# *.toml
# Manifest.*
# Project.*


# Data/*
# *.[src/Data]
# **/Data
# # *.[.toml]

PET_Vscode.jl.code-workspace

